

/* Diseño base de etiqueta body*/
body{
    text-align: center;
    font-family: "Roboto", sans-serif;;
    color: #707070;
}

/* Titulos */
h1{
    text-align: left;
    margin-top: 30px;
}

/* Parrafo principal */
#txtInicio{
    font-size: 14px;
    text-align: left;
}

/*Alineacion de filas verticalmente*/
#seccion1{
    display: grid;
    place-items: center;
}

/* .visa img{
    width: 40%;
}
.visarow img{
    width: 50%;
}
.tarjetasrow img{
    width: 50%;
} */

#containerpay{
    text-align:left;
}

#imgMasterCard img{ 
    width: 40%;
    @media (max-width: 576px) {
        width: 25%;
    }
    /* display: inline; */
}
#imgMercadoPago img{
    width: 80%;
    @media (max-width: 576px) {
        width: 50%;
    }
    /* display: inline; */
}
#imgPaypal img{
    width: 80%;
    @media (max-width: 576px) {
        width: 50%;
    }
    /* display: inline; */
}

/* #paymethods {
    /* border: 2px solid #707070 ;
    box-shadow: 0 0 5px #d71787;
    align-items: center;
    border-radius: 25px;
    margin-left: 30%;
    margin-right: 30%;
} */


#paymethods2{
    /* border: 2px solid #707070 ; */
    box-shadow: 0 0 5px #d71787;
    align-items: center;
    border-radius: 25px;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    @media (max-width: 576px) {
        margin-left: 5%;
        margin-right: 5%; 
        text-align: center;
    }
}

/* #paymethods3{
    /* border: 2px solid #707070 ;
    box-shadow: 0 0 5px #d71787;
    align-items: center;
    border-radius: 25px;
    margin-left: 30%;
    margin-right: 30%;
} */


/* #form-tarjeta{
      display: none;
} */

/* .formulario-tarjeta {
    text-align: center;
    visibility: collapse;  
    
} */

/* #Visa:checked ~ * .form-tarjeta{
    
    visibility: visible;

} */

/* .rowpay{
    max-width: 600px;
} */



/* .paymethods img {
    width: 50px;
} */

/* Barra divisora */
#barraDivisora{
    width: 100%;
    height: 30px;
}

input[type="radio"]:checked{
    border: 8px solid #d71787;
    /* accent-color: #d71787; */
    box-shadow: 0 0 5px #d71787;
    background-color: #707070;
}

.form-control, .form-select, .form-check-input {

    &:focus {
        /*Cuando se da click en los inputs, se crea un resplandor*/
        color: #707070;
        font-weight: bold;
        border: none;
        box-shadow: 0 0 5px #d71787;
        outline: 0px;
    }
}


.rowform{
    text-align: center;
}





