

/* Diseño base de etiqueta body*/
body{
    text-align: center;
    font-family: "Roboto", sans-serif;;
    color: #707070;
}

/* Titulos */
h1{
    text-align: left;
    margin-top: 30px;
}

/* Parrafo principal
#txtInicio{
    font-size: 14px;
    text-align: left;
} */

/*Alineacion de filas verticalmente*/
/* #seccion1{
    display: grid;
    place-items: center;
} */


/* #containerpay */
#pagos{
    text-align:left;
}

#imgMasterCard img{
    width: 40%;
    @media (max-width: 576px) {
        width: 25%;
    }
    /* display: inline; */
}
#imgMercadoPago img{
    width: 80%;
    @media (max-width: 576px) {
        width: 50%;
    }
    /* display: inline; */
}
#imgPaypal img{
    width: 80%;
    @media (max-width: 576px) {
        width: 50%;
    }
    /* display: inline; */
}

#resumenCompra{
  height: auto;
  width: auto;
    /* border: 1px solid #707070; */
    box-shadow: 0 0 5px #d71787;
    align-items: center;
    border-radius: 25px;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    @media (max-width: 992px) {
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
    }
}

#paymethods2{
  height: auto;
  width: auto;
    border: 1px solid #707070;
    /* box-shadow: 0 0 5px #d71787; */
    align-items: center;
    border-radius: 25px;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    @media (max-width: 992px) {
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
    }
}
#paymethods2:hover{
  box-shadow: 0 0 5px #d71787;
}


/* Barra divisora */
#barraDivisora{
    width: 100%;
    height: 30px;
}

/*Seleccionador de radio*/
input[type="radio"]:checked{
    border: 10px solid #d71787;
    /* accent-color: #d71787; */
    box-shadow: 0 0 5px #d71787;
    background-color: #707070;
}


.form-control, .form-select, .form-check, .input-field{

    &:focus {
        /*Cuando se da click en los inputs, se crea un resplandor*/
        color: #707070;
        font-weight: bold;
        border: none;
        box-shadow: 0 0 5px #d71787;
        outline: 0px;
    }
}

.form-control:hover, .form-select:hover, .input-field:hover{
  box-shadow: 0 0 5px #d71787;
}

/*color y tamaño de botones*/
#btnProcederPago, #btnPagar {
  background-color: #d71787; /* Cambia el color de fondo */
  color: #fff; /* Cambia el color del texto a blanco */
  border-color: #d71787;
  border-radius: 40px;
  margin-top: 5%;
}
#btnProcederPago:hover, #btnPagar:hover {
  background-color: #ff8c66; /* Cambia el color de fondo al pasar el mouse por encima */
}

.cardSection{
  display: none;
}

input .cardSection:checked{
  .cardSection{
    display:block;
  }
}

/*Alertas*/
.alert{
  max-width: 100%;
  display: none;
}

/*Alertas activadas*/
.alert-activa{
  
  display: block;
}
/*Alertas activadas*/
.alert-noactiva{
  
  display: none;
}
/*id div para centrar formulario*/
/* #centrado{

    display: flex;
    justify-content: center;

} */


/* body,html {
    height:100%;
    margin:0; */
    /* font-family:lato;
  } */

  /* h2 {
    margin-bottom:0px;
    margin-top:25px;
    text-align:center;
    font-weight:200;
    font-size:19px;
    font-size:1.2rem;

  } */

  /* .thin {
    font-weight:400;
  }
  .small {
    font-size:12px;
    font-size:.8rem;
  }
  .half-input-table {
    border-collapse:collapse;
    width:100%;
  }
  .half-input-table td:first-of-type {
    border-right:10px solid #d71787;
    width:50%; 
  }*/
   /* .window {
   height:100%;
    width:100%;
    /* background:#fff;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;*/
    /* display:flex;
    box-shadow: 0px 0px 5px 0px #d71787;
    border-radius:30px;
    z-index:10;
  } */
  /* .order-info { 
    position: sticky;
    height:100%;
    width:50%;
  } */
  #productPrice {
    /* bottom:0px; */
    /* position:absolute; */
    /* right:0px; */
    color:#d71787;
  }
  /* .order-table td:first-of-type {
    width:25%;
  } */
  /* .order-table {
      position:relative;
  } */
  .line {
    height:1px;
    width:100%;
    margin-top:5px;
    margin-bottom:5px;
    background:#ddd;
  }
  /* .order-table td:last-of-type {
    vertical-align:top;
    padding-left:25px;
  } */
  /* .order-info-content {
    table-layout:fixed;

  } */

  .full-width {
    width:100%;
  }


  /* .total {
    margin-top:25px;
    font-size:20px;
    font-size:1.3rem;
    position:absolute;
    bottom:30px;
    right:27px;
    left:35px;
  } */
  .dense {
    /* line-height:1.2em; */
    font-size:16px;
    /* font-size:1rem; */
  }
  /* .input-field {
    background:rgba(255,255,255,0.1);
    margin-bottom:10px;
    margin-top:3px;
    /* line-height:1.5em;
    font-size:20px;
    font-size:1.3rem; */
    /* border:none;
    padding:5px 10px 5px 10px;
    color:#fff;
    box-sizing:border-box;
    width:100%;
    margin-left:auto;
    margin-right:auto;
  } */
  .credit-info {
    /* background:#d71787; */
    height:100%;
    width:100%;
  }

  /* @media (max-width: 600px) {
    .window {
      width: 100%;
      height: 100%;
      display:block;
      border-radius:0px;
    }
    .order-info {
      width:100%;
      height:auto;
      padding-bottom:100px;
      border-radius:0px;
    }
    .credit-info {
      width:100%;
      height:auto;
      padding-bottom:100px;
      border-radius:0px;
    }
    .pay-btn {
      border-radius:0px;
    }
  } */


