#titulo1Carrito {
    text-align: center;
}


.imgProductos {
    width: 200px;
    height: 200px;
}


.rowPosition {
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn-number {
    border: solid 2px #D71787;
}

.icon-trash {
    color: #D71787;
}

.input-number {
    border: solid 2px #D71787;
    text-align: center;
    width: 50px !important;
}

#imgHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1300px;
    height: 350px;


}

#colorButton {
    background-color: #D71787;
    border-color: #D71787;

    width: 80%;
    /*Cuando se da click en los inputs, se crea un resplandor*/
    font-weight: bold;
    border: none;
    box-shadow: 0 0 5px #d71787;
    outline: 0px;


}