
/* Diseño base de etiqueta body*/
body{
    text-align: center;
    font-family: "Roboto", sans-serif;;
    color: #707070;
}

/* Titulos */
h1{
    text-align: center;
    margin-top: 10px;
}

/* //////////////////////////////////////////////////////////////////// */
#divContacto {
    margin-top: 30px;
    height: 80px;
}

/* Barra divisora */
#barraDivisora {
    width: 100%;
    height: 30px;
}


/* Seccion de pregunta */
#titulo{
    margin: 20px;
    text-align: center;
}


/*div del formulario*/
#formulario {
    width: 500px;

}

.datos {
    width: 80%;

    &:focus {
        /*Cuando se da click en los inputs, se crea un resplandor*/
        color: #707070;
        font-weight: bold;
        border: none;
        box-shadow: 0 0 5px #d71787;
        outline: 0px;
    }
}

.divInputs {
    padding-top: 5px;
    padding-bottom: 35px;
}

#btnEnviar {
    background-color: #d71787;
    /* Cambia el color de fondo */
    color: #fff;
    /* Cambia el color del texto a blanco */
    border-color: #d71787;
}

#btnEnviar:hover {
    background-color: #ff8c66;
    /* Cambia el color de fondo al pasar el mouse por encima */
}

/* Iconos pequeños */
#iconoContacto{
    width: 40px;
    height: 40px;
}

#msgContacto{
    display: block;
    font-weight: bold;
    margin-bottom: 30px;
   
}

#enlace{
    font-size: 18px;
    text-decoration: none;
    color: #707070;
}







  
