
/* Diseño base de etiqueta body*/
body{
    text-align: center;
    font-family: "Roboto", sans-serif;;
    color: #707070;
}

/* Titulos */
h1{
    text-align: center;
    margin-top: 10px;
}

/* //////////////////////////////////////////////////////////////////// */
#divContacto {
    margin-top: 30px;
    height: 80px;
}

/* Barra divisora */
#barraDivisora {
    width: 100%;
    height: 30px;
}


/* Seccion de pregunta */
#titulo{
    margin: 20px;
    text-align: center;
}


/*div del formulario*/
#formulario {
    width: 500px;

}

.datos {
    width: 80%;

    &:focus {
        /*Cuando se da click en los inputs, se crea un resplandor*/
        color: #707070;
        font-weight: bold;
        border: none;
        box-shadow: 0 0 5px #d71787;
        outline: 0px;
    }
    border: 2px solid #d1d1d1;
}

.divInputs {
    padding-top: 5px;
    padding-bottom: 35px;
}

#colorB {
    background-color: #D71787;
    font-family: "Roboto", sans-serif;;
    width: 150px;
     height: 50px;
     font-size: 25px;
     border-radius: 40px;
     border: none;
}

#colorB:hover {
    background-color: #ff8c66;
    /* Cambia el color de fondo al pasar el mouse por encima */
}

/* Iconos pequeños */
#iconoContacto{
    width: 40px;
    height: 40px;
}

#msgContacto{
    display: block;
    font-weight: bold;
    margin-bottom: 30px;
   
}

#enlace{
    font-size: 18px;
    text-decoration: none;
    color: #707070;
}

/*Alertas*/
.alert{
    max-width: 100%;
    display: none;
}

/*Alertas activadas*/
.alert-activa{
    
    display: block;
}
/*Alertas activadas*/
.alert-noactiva{
    
    display: none;
}
/*Este es el fondo de la pantalla
body {
    background-image: url("/assets/img/otra\ opcion.webp");
    background-size: cover;
    background-repeat:no-repeat ; 
}*/
/*Imagen del container ccolor rosa*/
.container-1 {
    
    padding: 25px;
    width: 500px;
    margin-left: auto; /* Corrección: "margin-left" en lugar de "margin left" */
    margin-right: auto; /* Corrección: "margin-right" en lugar de "margin-right" */
    text-align: center;
    border-radius: 15px;
    background-color: rgba(215, 23, 135,.20);
    }

    /*Notificación en verde */
    .notificacion2 {
        margin-top: 50px;
        font-weight: bold;
        display: none;
        position: fixed;
        top: 10px;
        right: 10px;
        background-color: rgb(43, 152, 21);
        color: white;
        padding: 10px;
        border-radius: 5px;
        z-index: 1000;
        animation-name: shake;
        animation-duration: 0.5s;
      }
      
      @keyframes shake {
        0% {
          transform: translateX(0);
        }
        20% {
          transform: translateX(-15px);
        }
        40% {
          transform: translateX(15px);
        }
        60% {
          transform: translateX(-15px);
        }
        80% {
          transform: translateX(15px);
        }
        100% {
          transform: translateX(0);
        }
      }

/*Modificacion de modal*/
      .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
        padding-top: 60px;
    }
    
    .modal-contenido {
        background-color: #fefefe;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    .cerrar {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }
    
    .cerrar:hover,
    .cerrar:focus {
        color: black;
        text-decoration: none;
    }

  
