/*lo que agregue yo Ankaret*/
/*color botones*/
#colorB {
    background-color: #D71787;
    font-family: "Roboto", sans-serif;
    width: 300px;
    height: 50px;
    font-size: 20px;
    border-radius: 30px;
}

#logos {
    height: 100px;
    width: 200px;
    padding: 30px;
}

/* Estilo de sombra para el carrusel */
#BannerIndex {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
#textoIcono {
    color: #2F2F2F;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*Cierro lo que agregue yo Ankaret*/

/* Diseño base de etiqueta body*/
body {
    text-align: center;
    font-family: "Roboto", sans-serif;
    ;
    color: #707070;
}

/* Titulos */
h1 {
    text-align: center;
    margin-top: 30px;
}



#nombreProducto {
    font-size: 14px;
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

#precio {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    text-align: left;
}



/*Alineacion de filas verticalmente*/
#verticalAlign {
    display: grid;
    place-items: center;
}

/* Imagen productos */
#imgProductos {

    width: 210px;
    height: 180px;
    margin: 15px;
    width: 600px;
    height: 300px;
}

#imgProducto {
    margin-bottom: 10px;
}

#contenedor {
    border: 2px solid #d1d1d1;
    margin: 10px;
    padding: 10px;
}

#contenedorInferior {
    border: 2px solid #d1d1d1;
    padding: 20px;
    margin: 12px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.16);
}

#btnCar {
    background-color: #D71787;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    margin-top: 50px;
}


#contenedorInferior button {
    margin-top: 14px;
    background-color: #D71787;
    border: none;
    font-size: 12px;
    font-weight: bold;
}

#cantidadProducto {
    text-align: center;
}