

/* Titulos */
h1{
    text-align: center;
    
    margin-top: 30px;
    display: inline;
}
.barraPromocion{
    background-color: #D71787;
    color: white;
    align-items: center;
}

/* Barra divisora */
#barraDivisora{
    display: inline;
    width: 40%;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 30px;
}

#columnas {
    
    justify-content: space-between;/* Distribuye uniformemente los hijos */
}

#fila {
    flex: 1;/* Todos los hijos tienen la misma flexibilidad */
    border-bottom: 1px solid #707070;
}

h2{
    text-align: center;
    color: #D71787  ;
}
.card{
    text-align: justify;
    border: none;
}
#general{
    border: 0px solid black;
    border-radius: 10px;
    box-shadow: 0 0 30px #707070;
}

.divDeImgNoti{
    margin-top: 10px;
    margin-bottom: 10px;
}



