/* Títulos */
h1 {
    text-align: left;
    margin-top: 30px;
}

/* Párrafo principal */
#txtInicio {
    font-size: 14px;
    text-align: left;
}

/* Nombre de cada producto*/
#nombreProducto {
    font-size: 14px;
    display: block;
    text-align: left;
    margin-bottom: 5px;
    height: 40px;
}


/* Precio de cada producto */
#precio {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

/*Alineación de filas verticalmente*/
#verticalAlign {
    display: grid;
    place-items: center;
}

/* Imagen productos banner*/
#imgProductos {
    width: 600px;
    height: 250px;
}

/* Imagen individual de productos */
#imgProducto {
    margin-bottom: 10px;
    max-height: 140px;
}

/* Contenedor con borde gris, parte superior zona principal */
#contenedor {
    border: 2px solid #d1d1d1;
    margin: 2px;
    padding: 10px;
}

/* Contenedores con borde gris en la parte inferior */
#contenedorInferior {
    border: 2px solid #d1d1d1;
    padding: 20px;
    margin-top: 12px;
    width: 190px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

/* Formato de sombreado en selección de productos */
#contenedorInferior:hover {
    box-shadow: 0px 3px 3px 0px rgba(255, 41, 155, 0.75);
}

/* Contenedor inferior izquierdo con fitros */
#contenedorFiltros {
    border: 2px solid #d1d1d1;
    padding: 20px;
    margin-top: 12px;
    width: 100%;
    max-height: 650px;
}

/* Botón de filtros */
#contenedorFiltros button, #btnAplicarFiltro {
    margin-top: 14px;
    background-color: #D71787;
    border: none;
    font-size: 12px;
    font-weight: bold;
}

/* Botón de sección filtros*/
#contenedorFiltros button:hover, #btnAplicarFiltro:hover {
    background-color: #ff8c66; /* Cambia el color de fondo al pasar el mouse por encima */
}

/* Botón de cada producto */
#contenedorInferior button {
    margin-top: 14px;
    background-color: #D71787;
    border: none;
    font-size: 12px;
    font-weight: bold;
}

/* Evento de cambio de color para los botones */
#contenedorInferior button:hover {
    background-color: #ff8c66; /* Cambia el color de fondo al pasar el mouse por encima */
}

/* Contador de producto */
#cantidadProducto {
    text-align: center;
}

/* Formulario zona filtros */
#formFiltros {
    text-align: left;
}

/* Eliminar formato de hipervínculo */
#enlaceProducto {
    color: #707070;
    text-decoration: none;
}

/* Sombreado de contorno en formularios */
.form-select,
.form-control {
    width: 80%;

    &:focus {
        /*Cuando se da click en los inputs, se crea un resplandor*/
        color: #707070;
        font-weight: bold;
        border: none;
        box-shadow: 0 0 5px #d71787;
        outline: 0px;
    }
}

