/* Barra de navegacion */
#logoBF{
    width: 75px;
    height: 60px;
}

#lista li{
    margin-right: 16px;
}

#barra{
    background-color: white;
}

nav{
    background-color: white;
    height: 70px;
}

#imgIcono{
    width: 40px;
    height: 35px;
}

#imgIcono2{
    width: 40px;
    height: 35px;
}

#imgIcono3{
    width: 40px;
    height: 35px;
}


/* Dise침o base de etiqueta body*/
body{
    text-align: center;
    font-family: "Roboto", sans-serif;;
    color: #707070;
}

/* Titulos */
h1{
    text-align: center;
    margin-top: 10px;
}
h4{
    text-align: center;
    margin-top: 10px;
}
#tituloEnlace{
    margin-top: 10px;
    text-align: center;
}
#preguntaCuenta{ /*cambiar el color del subrayado del enlace*/
    color: #d71787;
    text-decoration: underline;
    text-decoration-color: #d71787;
}


/*div del formulario*/
#formulario{
    place-items: center;
}
#seccionForm{
    margin-bottom: 20px;
    position: relative;
}
.datos{
    width: 80%;
    color: #707070;
    &:focus{/*Cuando se da click en los inputs, se crea un resplandor*/
        color: #707070;
        font-weight: bold;
    border: none;
   box-shadow: 0 0 5px #d71787;
   outline: 0px;
    }
}

.divInputs{
    padding-top: 5px;
    padding-bottom: 35px;
}
.form-control{
    color: #707070; /* Cambia el color del texto a #707070 */
    font-family: "Roboto", sans-serif; /* Cambia la fuente del texto a "Roboto" */
}

#terminosYCondiciones{
    align-items: center;
}
#btnRegistrar {
    background-color: #d71787; /* Cambia el color de fondo */
    color: #fff; /* Cambia el color del texto a blanco */
    border-color: #d71787;
    border-radius: 40px;
  }
#btnRegistrar:hover {
    background-color: #ff8c66; /* Cambia el color de fondo al pasar el mouse por encima */
  }
/*color del check al ser precionado*/
#checkinput:checked {
    background-color: #D71787; /* Cambia el color de fondo cuando est치 marcado  */
    border-color: #707070;
    box-shadow: 0 0 5px #d71787;
    border: none;
  }

  
/* Barras laterales */
#lateralIzq{
    text-align: right;
    position: relative;
}
#lateralDer{
    text-align: left;
    position: relative;
}
#imgLateral{
    max-width: 30px;
    width: 30px;
    max-height: 100%;
    height: 520px;
}

/* Media query para centrar titulos y ocultar carrito dentro de la barra */
@media (max-width: 992px){
    h1{
        text-align: center;
    }

    #imgIcono3{
        display: none;;
    }
}

/* Media query para ocultar icono de carrito en vista lg */
@media (min-width: 992px){
    #imgIcono2{
        display: none;
    }
}

#button{
    background: 1px solid black;
}
/* Media query para ocultar iconos centrales del footer en vista md */
@media (min-width: 768px){
    #iconoFooter{
        display: none;
    }

}

/* Media query para ocultar columnas laterales para tama침o sm*/
@media (max-width: 768px){
    #col-2{
        display: none;
    }

}

/*Media query para ocultar barras laterales*/
@media (max-width: 768px){
    #imgLateral{
        display: none;
    }
}

/*FOOTER*/
footer{
    background-color: #D71787;
    color: white;
    padding-top: 30px;;
}

/* Enlaces de footer (quitar formato subrayado)*/
footer a{
    text-decoration: none;
    color: white;
}
/* Listas de enlaces, quitar formato */
footer ul, h5{
    list-style: none;
    padding-left: 0px;
    text-align: left;
}

/* Imagen principal del footer */
#imgFooter{
    width: 210px;
    height: 150px;
}

/* Iconos de redes sociales del footer (centrales)*/
#iconoFooter{
    width: 50px;
    height: 50px;
    margin: 5px;
    margin-bottom: 15px;
}

/* Iconos de redes sociales del footer (laterales)*/
#iconoFooterLg{
    width: 40px;
    height: 40px;
    margin: 5px;
}

/* Tama침o de letra chiquita derechos de best finds */
#licencia{
    font-size: 12px;

}
